body{
    background:#000;
    color:white;
    font-family:Arial,sans-serif;
    margin:0;
    padding:30px;
}

header{
    text-align:center;
    margin-bottom:40px;
}

img{
    width:200px;
    height:200px;
    border-radius:20px;
    object-fit:cover;
}

h1{
    color:#d8b4fe;
    font-size:55px;
    margin:10px 0;
}

h2{
    color:#d8b4fe;
    border-bottom:2px solid #d8b4fe;
    padding-bottom:5px;
}

section{
    background:#111;
    padding:20px;
    margin:20px 0;
    border-radius:15px;
    box-shadow:0 0 10px rgba(216,180,254,0.2);
}

ul li{
    margin:10px 0;
}
header{
    text-align:center;
    margin-bottom:30px;
}

img{
    width:200px;
    height:200px;
    border-radius:20px;
    object-fit:cover;
}

p{
    line-height:1.6;
}
h1{
    color:#d8b4fe;
}

h2{
    color:#d8b4fe;
}

a{
    color:#d8b4fe;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}
nav{
    text-align:center;
    padding:15px;
    background:#111;
}

nav a{
    color:#d8b4fe;
    text-decoration:none;
    margin:0 20px;
    font-weight:bold;
}